<template>
  <h2>But so, so <em>tedious</em></h2>
  <!--@formatter:off-->
  <pre><code>
this.innerHTML = '' +
  '&lt;table&gt;' +
  '&lt;tr&gt;' +
    '&lt;td&gt;Meaning of Life&lt;/td&gt;' +
    '&lt;td&gt;42&lt;/td&gt;' +
    '&lt;/tr&gt;' +
  '&lt;tr&gt;' +
    '&lt;td&gt;Quarter Life Crisis&lt;/td&gt;' +
    '&lt;td&gt;24&lt;/td&gt;' +
    '&lt;/tr&gt;' +
  '&lt;/table&gt;';
  </code></pre>
  <!--@formatter:on-->

  <h3>&amp; <i>unreadable</i></h3>

  <h3>&amp; <i>bland</i></h3>

  <h3>&amp; <i>buggy</i></h3>
</template>