<template>
  <style>
    twc-arrow {
      position: absolute;
      top: 30px;
      left: 1210px;
      transform-origin: 50% 50%;
      transform: rotate(-155deg) scale(1.1, 1);
    }
  </style>
  <div style="position: relative">
    <h2>And whether to do it <em>recursively</em>:</h2>

    <!--@formatter:off-->
    <pre><code class="js">document.importNode(node, deep);</code></pre>
    <!--@formatter:on-->

    <h2 style="margin-top: 50px">Pretty much always want this to be <em>true</em></h2>

    <twc-arrow></twc-arrow>
  </div>
</template>