<template>
  <section is="x-slide" href="slides/templates/title.html"></section>
  <section is="x-slide" href="slides/templates/cliche.html"></section>
  <section is="x-slide" href="slides/templates/cliche-inner-html.html"></section>
  <section is="x-slide" href="slides/templates/cliche-tedious.html"></section>
  <section is="x-slide" href="slides/templates/html.html"></section>
  <section is="x-slide" href="slides/templates/template-tag.html"></section>
  <section is="x-slide" href="slides/templates/template-description.html"></section>
  <section is="x-slide" href="slides/templates/cliche-template.html"></section>
  <section is="x-slide" href="slides/templates/import-node-1.html"></section>
  <section is="x-slide" href="slides/templates/import-node-2.html"></section>
</template>